**/.git
**/.github
**/.claude
**/.idea
**/.vscode
**/node_modules
**/tmp
**/dist
**/*.exe
**/*.log
.env
.env.*
.DS_Store
.gitignore
config.yaml
docker-compose.yml
docker-stack.yml
CLAUDE.md
